@page "/C_Compras"

<PageTitle>Consulta de Compras</PageTitle>

<EditForm Model="lista">
    <div class="card">
        <div class="card-header">
            <h4>Consulta de Compras</h4>
        </div>

        <div class="card-body">
            <form>
                <div class="input-group d-flex align-items-end">
                    <InputSelect class="form-select col-2" @bind-Value="filtro">
                        <option value="0" disabled selected>Seleccione un filtro</option>
                        <option value="1">Id</option>
                        <option value="2">Concepto</option>
                        <option value="3">Suplidor</option>
                    </InputSelect>

                    <div class="flex-fill mx-2">
                        <label>Busqueda</label>
                        <InputText class="form-control" @bind-Value="Criterio" />
                    </div>

                    <button type="button" class="btn btn-primary" @onclick="Buscar"><span
                            class="oi oi-magnifying-glass"></span></button>

                </div>

                <div class="row g-3 mb-3">

                    <div class="col">
                        <label>Desde</label>
                        <input type="date" class="form-control" @bind="fechaDesde" />
                    </div>

                    <div class="col">
                        <label>Hasta</label>
                        <input type="date" class="form-control" @bind="fechaHasta" />
                    </div>

                </div>

            </form>
        </div>

        <table class="table table-light">
            <thead class="thead">
                <tr class="table">
                    <th>Id</th>
                    <th>Concepto</th>
                    <th>Fecha de compra</th>
                    <th>Cantidad unidades</th> 
                    <th>Precio total</th>
                   
                    <th>Suplidor</th>
                    <th>Modificar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in lista)
                {
                    <tr>
                        <td>@item.CompraId</td>
                        <td>@item.Concepto</td>
                        <td>@item.FechaDeCompra.Day/@item.FechaDeCompra.Month/@item.FechaDeCompra.Year</td>
                        <td>@item.CantidadProductos </td> 
                        <td>$ @(@item.precioTotal*100/100)</td>
                        <td>@item.DescripcionSuplidor</td>
                        <a class="btn btn-sm btn-outline-primary oi oi-eye" href="R_Compras/@item.CompraId"></a>
                    </tr>
                }
            </tbody>

        </table>
    </div>

</EditForm>

@code {
    public string? filtro { get; set; }
    public string? Criterio { get; set; }
    public List<Compras> lista { get; set; } = new List<Compras>();
    public DateTime? fechaDesde { get; set; }
    public DateTime? fechaHasta { get; set; }

    [Inject]
    public ComprasBLL? comprasBLL { get; set; }
    protected override void OnInitialized()
    {
        base.OnInitialized();
        lista = ComprasBLL.ListaComprasCriterio(c => true);
    }
    private void Buscar()
    {
        if (Criterio != null)
        {
            switch (filtro)
            {
                case "1":
                    bool esNumero = Int32.TryParse(Convert.ToString(Criterio), out int id);
                    if (esNumero)
                        lista = ComprasBLL.ListaComprasCriterio(c => c.CompraId == id);
                    else
                        lista = ComprasBLL.ListaComprasCriterio(c => true);
                    break;

                case "2":
                    lista = ComprasBLL.ListaComprasCriterio(c => c.Concepto.ToLower().Contains(Criterio.ToLower()));
                    break;

                case "3":
                    lista = ComprasBLL.ListaComprasCriterio(c => c.DescripcionSuplidor.ToLower().Contains(Criterio.ToLower()));
                    break;
            }
        }
        else
        {
            lista = ComprasBLL.ListaComprasCriterio(c => true);
        }

        if (fechaDesde.HasValue && fechaHasta.HasValue)
            lista = ComprasBLL.ListaComprasCriterio(f => f.FechaDeCompra.Date >= fechaDesde && f.FechaDeCompra.Date <= fechaHasta);
        else if (fechaDesde.HasValue)
            lista = ComprasBLL.ListaComprasCriterio(f => f.FechaDeCompra.Date >= fechaDesde);
        else if (fechaHasta.HasValue)
            lista = ComprasBLL.ListaComprasCriterio(f => f.FechaDeCompra.Date <= fechaHasta);

    }
}
